div {
	max-width:568px;

	min-width:568px;
	min-height:320px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 568px;
  
  height: 60px;
  background-color: #f5f5f5;
  font-size: 30px;
  font-family: 'Biryani', sans-serif;
  padding-top:10px;

  text-align:center;
 	opacity: .8;
	background-color:#FFFFFF;
	color: black;
	position:fixed;
}
.centerdiv {
	text-align: center;
}
#title{
	text-align:center;
	font-family: Impact;
}
#begin{
	vertical-align:center;
	margin-top:60%;
}
.left{
	float:left;
	width:50%;
}
.right{
	float:right;
	width:50%;

}
.textbox{
	height: 320px;
	width: 568px;
	float:center;


}

p {
	color: white;
	font-size: 70;
	font-family: 'Biryani', sans-serif;
	font-weight:800;
	padding: 40px;
}

.link{
	color:#FF0000;
}

#gohome{
	background-color:#FF0000;
}

#home {
	background-image: url("TitleScreen.jpg");
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	transition: opacity 2s;
	opacity: 0;
	float:none;
	margin: auto;
}

#pasttitle{
	background-image: url("Transition-Past.jpg");
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	transition: opacity 2s;
	opacity: 0;
	float:none;
	margin: auto;
}

.transitbut{
	
	margin:auto auto;
	width: 50px;
	height: 60px;
	//vertical-align:center;
	position: absolute;

}
.transitbut a {
	color:white;
	position: absolute;
	bottom:20px;
}

#prestitle{
	background-image: url("Transition-Present.jpg");
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	transition: opacity 2s;
	opacity: 0;
	margin:auto;
	float:none;
}

#gftitle{
	background-image: url("Transition-GoodFuture.jpg");
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	transition: opacity 2s;
	opacity: 0;
	margin:auto;
	float:none;
}

#bftitle{
	background-image: url("Transition-BadFuture.jpg");
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	transition: opacity 2s;
	opacity: 0;
	margin:auto;
	float:none;
}

#choice{
	background-image: url("Transition-Choice2.jpg");
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	transition: opacity 2s;
	opacity: 0;
	margin:auto;
	float:none;
}

#endimg{
	background-repeat:no-repeat;
	width:100%;
}


#yes{
	float:left;
	text-align:center;
	width:284px;
	height:320px;
}

#no{
	float:right;
	text-align:center;
	width:284px;
	height:320px;
}

.infop{
	background-image: url("GenBG.png");

	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	transition: opacity 2s;
	opacity: 0;
	float:none;
	margin: auto;
}

.dark{
	color:black;
	font-weight:800;
}